
NODE_ENV="your_node_env"

MYSQL_HOST="your_mysql_host"
MYSQL_PORT="your_mysql_port"
MYSQL_USER="your_mysql_user"
MYSQL_PASSWORD="your_mysql_password"
MYSQL_DATABASE="your_mysql_database"

PORT="your_server_port"

JWT_SECRET="your_jwt_secret"

OPENAI_API_KEY="your_ai_api_key"

MCP_SERVER_URL="your_mcp_server_url"
